/* Project 01
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body.p01 {
	background: $color-secondary-01;
	border: 10px solid $color-primary-01;
	/* background: #262C33;
	border: 20px solid #EA9215; */
	color: #333;

	h1,
	h2,
	h4,
	h6,
	p {
		color: #333;
		/* color: #999; */
	}

	h5 {
		margin-bottom: .5rem;
	}

	h6 {
		margin-bottom: .5rem;
	}

	h5,
	h6,
	ul,
	p {
		font-family: $font-stack-secondary;
	}

	a {
		border-bottom: 1px dotted $color-primary-01;
		color: #fff;
		text-decoration: none;

		-webkit-transition: color border-bottom .3s;
		-moz-transition: color .3s;
		-o-transition: color .3s;
		transition: color .3s;

		&:hover {
			border-bottom: 1px dotted $color-tertiary;
			color: $color-primary-01;
		}
	}

	.icon {
		color: #fff;

		-webkit-transition: color .3s;
		-moz-transition: color .3s;
		-o-transition: color .3s;
		transition: color .3s;
		
		&:hover {
			color: $color-primary-01;
		}
	}

	header a {
		border-bottom: none;

		&:hover {
			border-bottom: none;
		}
	}

	header .five {
		margin-top: 1%;
		text-align: right;
	}

	@media (max-width: 550px) {
		header,
		header .five {
			text-align: center;
		}
	}

	.process {
		margin-top: 48px;
		margin-bottom: 96px;

		h1 {
			color: #fff;
		}

		span {
			font-style: italic;
		}

		.six {
			color: #fff;
			margin-top: 16px;

			h5 {
				font-weight: 400;
			}
		}
	}


		/* Article
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	article {
		background: #fff;
	}

	.article01 {
		padding-top: 120px;
		padding-bottom: 40px;

		.nine img {
			-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.26);
			-moz-box-shadow: 0 2px 5px rgba(0,0,0,.26);
			box-shadow: 0 2px 5px rgba(0,0,0,.26);
		}

		p {
			font-size: 2rem;
		}

		.brief {
			margin-bottom: 48px;

			span {
				font-size: 1.5rem;
				font-weight: 700;
			}
		}

		.approach,
		.result {
			margin-top: 120px;
			margin-bottom: 48px;
		}

		.contributions {
			margin-top: 64px;
			margin-bottom: 32px;
		}
	}


		/* Footer
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	footer {
		background: $color-secondary-01;
	}
	.contact {
	padding-top: 80px;
	padding-bottom: 64px;
	text-align: center;

		p {
			color: #fff;
		}

		a {
			font-family: $font-stack-primary;
			border-bottom: 1px dotted #fff;
			color: #fff;
			text-decoration: none;

			-webkit-transition: color border-bottom .3s;
			-moz-transition: color .3s;
			-o-transition: color .3s;
			transition: color .3s;

			&:hover {
				border-bottom: 1px dotted $color-primary-01;
				color: $color-primary-01;
			}
		}

		div.social a {
			border-bottom: none;
		}
	}

}












/* Project 02
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body.p02 {
	background: $color-secondary-02;
	border: 10px solid $color-primary-02;
	/* background: #262C33;
	border: 20px solid #EA9215; */
	color: $color-tertiary-02;

	h1,
	h2,
	h4,
	h6,
	p {
		color: $color-tertiary-02;
		/* color: #999; */
	}

	h5 {
		margin-bottom: .5rem;
	}

	h6 {
		margin-bottom: .5rem;
	}

	h5,
	h6,
	ul,
	p {
		font-family: $font-stack-secondary;
	}

	a {
		border-bottom: 1px dotted $color-tertiary-02;
		color: $color-tertiary-02;
		text-decoration: none;

		-webkit-transition: color border-bottom .3s;
		-moz-transition: color .3s;
		-o-transition: color .3s;
		transition: color .3s;

		&:hover {
			border-bottom: 1px dotted $color-tertiary;
			color: $color-tertiary;
		}
	}

	.icon {
		color: $color-tertiary-02;

		-webkit-transition: color .3s;
		-moz-transition: color .3s;
		-o-transition: color .3s;
		transition: color .3s;
		
		&:hover {
			color: $color-tertiary;
		}
	}

	header a {
		border-bottom: none;

		&:hover {
			border-bottom: none;
		}
	}

	header .five {
		margin-top: 1%;
		text-align: right;
	}

	@media (max-width: 550px) {
		header,
		header .five {
			text-align: center;
		}
	}

	.process {
		margin-top: 48px;
		margin-bottom: 96px;

		h1 {
			color: $color-tertiary-02;
		}

		span {
			font-style: italic;
		}

		.six {
			color: $color-tertiary-02;
			margin-top: 16px;

			h5 {
				font-weight: 400;
			}
		}
	}


		/* Article
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	article {
		background: #fff;
	}

	.article02 {
		padding-top: 120px;
		padding-bottom: 40px;

		.nine img {
			-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.26);
			-moz-box-shadow: 0 2px 5px rgba(0,0,0,.26);
			box-shadow: 0 2px 5px rgba(0,0,0,.26);
		}

		p {
			font-size: 2rem;
		}

		.brief {
			margin-bottom: 48px;

			span {
				font-size: 1.5rem;
				font-weight: 700;
			}
		}

		.approach,
		.result {
			margin-top: 120px;
			margin-bottom: 48px;
		}

		.contributions {
			margin-top: 64px;
			margin-bottom: 32px;
		}
	}


		/* Footer
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	footer {
		background: $color-secondary-02;
	}
	.contact {
	padding-top: 80px;
	padding-bottom: 64px;
	text-align: center;

		p {
			color: $color-tertiary-02;
		}

		a {
			font-family: $font-stack-primary;
			border-bottom: 1px dotted $color-tertiary-02;
			color: $color-tertiary-02;
			text-decoration: none;

			-webkit-transition: color border-bottom .3s;
			-moz-transition: color .3s;
			-o-transition: color .3s;
			transition: color .3s;

			&:hover {
				border-bottom: 1px dotted $color-tertiary;
				color: $color-tertiary;
			}
		}

		div.social a {
			border-bottom: none;
		}
	}

}












/* Project 03
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body.p03 {
	background: $color-secondary-03;
	border: 10px solid $color-primary-03;
	/* background: #262C33;
	border: 20px solid #EA9215; */
	color: $color-tertiary-03;

	h1,
	h2,
	h4,
	h6,
	p {
		color: #666;
		/* color: #999; */
	}

	h5 {
		margin-bottom: .5rem;
	}

	h6 {
		margin-bottom: .5rem;
	}

	h5,
	h6,
	ul,
	p {
		font-family: $font-stack-secondary;
	}

	a {
		border-bottom: 1px dotted $color-tertiary-03;
		color: $color-tertiary-03;
		text-decoration: none;

		-webkit-transition: color border-bottom .3s;
		-moz-transition: color .3s;
		-o-transition: color .3s;
		transition: color .3s;

		&:hover {
			border-bottom: 1px dotted $color-tertiary;
			color: $color-tertiary;
		}
	}

	.icon {
		color: $color-tertiary-03;

		-webkit-transition: color .3s;
		-moz-transition: color .3s;
		-o-transition: color .3s;
		transition: color .3s;
		
		&:hover {
			color: $color-tertiary;
		}
	}

	header a {
		border-bottom: none;

		&:hover {
			border-bottom: none;
		}
	}

	header .five {
		margin-top: 1%;
		text-align: right;
	}

	@media (max-width: 550px) {
		header,
		header .five {
			text-align: center;
		}
	}

	.process {
		margin-top: 48px;
		margin-bottom: 96px;

		h1 {
			color: $color-tertiary-03;
		}

		span {
			font-style: italic;
		}

		.six {
			color: $color-tertiary-03;
			margin-top: 16px;

			h5 {
				font-weight: 400;
			}
		}
	}


		/* Article
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	article {
		background: #fff;
	}

	.article03 {
		padding-top: 120px;
		padding-bottom: 40px;

		.nine img {
			-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.26);
			-moz-box-shadow: 0 2px 5px rgba(0,0,0,.26);
			box-shadow: 0 2px 5px rgba(0,0,0,.26);
		}

		h5 {
			color: #666;
		}

		p {
			font-size: 2rem;
		}

		.brief {
			margin-bottom: 48px;

			span {
				font-size: 1.5rem;
				font-weight: 700;
			}
		}

		.approach,
		.result {
			margin-top: 120px;
			margin-bottom: 48px;
		}

		.contributions {
			margin-top: 64px;
			margin-bottom: 32px;
		}
	}


		/* Footer
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	footer {
		background: $color-secondary-03;
	}
	.contact {
	padding-top: 80px;
	padding-bottom: 64px;
	text-align: center;

		p {
			color: $color-tertiary-03;
		}

		a {
			font-family: $font-stack-primary;
			border-bottom: 1px dotted $color-tertiary-03;
			color: $color-tertiary-03;
			text-decoration: none;

			-webkit-transition: color border-bottom .3s;
			-moz-transition: color .3s;
			-o-transition: color .3s;
			transition: color .3s;

			&:hover {
				border-bottom: 1px dotted $color-tertiary;
				color: $color-tertiary;
			}
		}

		div.social a {
			border-bottom: none;
		}
	}

}












/* P04
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body.p04 {
	background: $color-secondary-04;
	border: 10px solid $color-primary-04;
	/* background: #262C33;
	border: 20px solid #EA9215; */
	color: $color-primary-04;

	h1,
	h2,
	h4,
	h6,
	p {
		color: $color-primary-04;
		/* color: #999; */
	}

	h5 {
		margin-bottom: .5rem;
	}

	h6 {
		margin-bottom: .5rem;
	}

	h5,
	h6,
	ul,
	p {
		font-family: $font-stack-secondary;
	}

	a {
		border-bottom: 1px dotted $color-primary-04;
		color: $color-primary-04;
		text-decoration: none;

		-webkit-transition: color border-bottom .3s;
		-moz-transition: color .3s;
		-o-transition: color .3s;
		transition: color .3s;

		&:hover {
			border-bottom: 1px dotted $color-tertiary;
			color: #CF4647;
		}
	}

	.icon {
		color: $color-primary-04;

		-webkit-transition: color .3s;
		-moz-transition: color .3s;
		-o-transition: color .3s;
		transition: color .3s;
		
		&:hover {
			color: $color-tertiary;
		}
	}

	header a {
		border-bottom: none;

		&:hover {
			border-bottom: none;
		}
	}

	header .five {
		margin-top: 1%;
		text-align: right;
	}

	@media (max-width: 550px) {
		header,
		header .five {
			text-align: center;
		}

		.process-img>div:last-child {
			margin-top: 24px;
		}
	}

	.process {
		margin-top: 48px;
		margin-bottom: 48px;

		span {
			font-style: italic;
		}
	}

	.process-img {
		margin-top: 16px;
		text-align: center;
	}


	/* Article
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	.article04 {
		border-top: 1px dotted $color-primary-04;
		border-bottom: 1px dotted $color-primary-04;
		padding-top: 48px;

		span {
			color: $color-primary-04;
		}

		.five {
			margin-bottom: 32px;
		}

		.one {
			text-align: center;
		}

		ul {
			margin-bottom: 0;
		}

		li {
			margin-bottom: 0;
		}
	}

	.icon-understand,
	.icon-define,
	.icon-ideate,
	.icon-design,
	.icon-test {
		color: $color-primary-04;
		font-size: 32px;
	}





	/* Footer
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	footer {
		background: $color-secondary-04;

		a {
			font-family: $font-stack-primary;
		}
	}

	div.social a {
		border-bottom: none;
	}

}