@import "_normalize";
@import "_skeleton";
@import "_variables";
@import "_index";
@import "_gridStyles";

/* Global
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h6 {
	color: $color-secondary;
}

h5 {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: .5rem;
}

p {
	color: $color-primary;
}

a {
	border-bottom: 1px dotted $color-secondary;
	color: $color-secondary;
	text-decoration: none;

	-webkit-transition: color border-bottom .3s;
	-moz-transition: color .3s;
	-o-transition: color .3s;
	transition: color .3s;

	&:hover {
		border-bottom: 1px dotted $color-tertiary;
		color: #CF4647;
	}
}

.link-dark {
	color: #333;
}

.link-light {
	color: #999;
}